name: Bypass Transformer Pipeline
on:
  push:
    branches: [ "main" ]
jobs:
  provisioning:
    runs-on: ubuntu-latest
    outputs:
      ec2_public_ip: ${{ steps.export.outputs.ec2_public_ip }}
      raw_bucket_name: ${{ steps.s3.outputs.raw_bucket_name }}
      trusted_bucket_name: ${{ steps.s3.outputs.trusted_bucket_name }}
      client_bucket_name: ${{ steps.s3.outputs.client_bucket_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8
    
      - name: Criar Backend Terraform
        run: |
          cd terraform
          cat > backend.hcl <<EOF
          bucket = "${{ secrets.STATE_BUCKET_NAME }}"
          key    = "terraform/bypass-transformer/state.tfstate"
          region = "us-east-1"
          EOF
          cat backend.hcl

      - name: Terraform Apply
        run: |
          cd terraform
          terraform init -backend-config=backend.hcl
          terraform apply -auto-approve

      - name: Export IP da EC2 do Terraform
        id: export
        run: |
          cd terraform
          echo "ip=$(terraform output -raw ec2_public_ip)" >> $GITHUB_OUTPUT

      - name: Export nomes do S3 do Terraform
        id: s3
        run: |
          cd terraform
          echo "raw=$(terraform output -raw raw_bucket_name)" >> $GITHUB_OUTPUT
          echo "trusted=$(terraform output -raw trusted_bucket_name)" >> $GITHUB_OUTPUT
          echo "client=$(terraform output -raw client_bucket_name)" >> $GITHUB_OUTPUT
  deploy:
    runs-on: ubuntu-latest
    needs: provisioning
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Adicionar IP da EC2 ao inventory.ini
        run: |
          echo "[ec2]" > ansible/inventory.ini
          echo "${{ needs.provisioning.outputs.ec2_public_ip }} ansible_user=ec2-user ansible_ssh_private_key_file=bypass-key.pem" >> ansible/inventory.ini

      - name: Adicionar chave SSH
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > ansible/bypass-key.pem
          chmod 400 ansible/bypass-key.pem

      - name: Criar .env
        run: |
          cd ansible
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" > .env
          echo "AWS_SECRET_ACCESS_KEY_ID=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> .env
          echo "AWS_SESSION_TOKEN=${{ secrets.AWS_SESSION_TOKEN }}" >> .env
          echo "S3_RAW=${{ needs.provisioning.outputs.raw_bucket_name }}" >> .env
          echo "S3_TRUSTED=${{ needs.provisioning.outputs.trusted_bucket_name }}" >> .env
          echo "S3_CLIENT=${{ needs.provisioning.outputs.client_bucket_name }}" >> .env
          cat .env

      - name: Instalar dependencias
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip sshpass
          pip3 install ansible boto3 python-dotenv

      - name: Upload DynamoDB JSON data
        env:
          DATA_DIR: ./data
        run: |
          cp ansible/.env utils/
          python utils/upload_dynamo.py

      - name: Configurar EC2 com Ansible
        run: |
          cd ansible
          export ANSIBLE_HOST_KEY_CHECKING=False
          ansible-playbook -i inventory.ini setup.yml
